body{
    overflow-x: hidden;
}
.bs-callout {
    padding: 15px;
    margin: 20px 20px 10px 10px;
    border: 1.2px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    width: 66%;
}
..bs-callout:nth-child(2n){
    margin-left: 5%;
}


.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca !important;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c !important; 
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

h4 a 
{
   color:inherit !important;
}

#done_button{

 background-color: #18FF6D !important;    
}

.dropdown{
    display: inline;
}

.dropdownMenu1{
    width: 24%;
    height: 42px;
    display: inline-block;
}

#footer{
    width:100%;
    left: 16%;
    right: 16%;
    margin: 0 auto;
}
.msg_form{
    width: 75%;
}

#msg_show_footer{
    width:85%;
    left: 20%;
    right: 20%;
    margin: 0 auto;
}

#message{
    min-height: 60px;
    max-height: 100px;
    resize: vertical;
    overflow: auto;
}
